*{
    margin:0px;
    padding: 0px;
}







header img{
    height:37px;
    width:87px;
}

header div:nth-child(2) span{
    color:lightgray;
    padding:3px 0px;
    margin:0px 20px;
    border-bottom:2px solid transparent;
    font-size: 15px;

}
header div:nth-child(2) span:hover{
    color: #8071D0;
    border-bottom-color: #8071D0 ;
    cursor: pointer;
}

header div:last-child span{
    padding: 10px 15px;
    border-radius:14px;
    background-color: #FFD8DB;
    font-size: 14px;
    cursor: pointer;
    color: #8071D0;
}


header{

    margin:10px 260px;
    display:flex;
    align-items: center;
    justify-content: space-between;

}
main{
    margin:50px 300px;
   
}
.left .one span{
    font-size: 50px;
    font-weight: 800;
}

.left .one div{
    height:10px;
    width: 10px;
    display: inline-block;
    background-color: #5243C0;
}

.left .two{
    font-size: 15px;
    margin:20px 0px 28px 0px;
}
.left .three{
    display: flex;
}
.left .three span{
    font-size: 14px;
    padding: 12px 23px;
    background-color: #5243C0;
    color:white;
    border-radius: 17px;
    cursor: pointer;
}
.left .three img{
    height:36px;
    width:36px;
    margin:0px 10px;
 
}

.left .four ul {
    list-style-type: none;
  
    padding:0px 0px;
    margin-top: 60px;
    border-radius: 8px;

}

 .hover1{
    height:35px ;
    width:35px;
    display:none;
 }

 ul li:first-child{
 
   
    border-radius: 8px;
    padding:3px  10px 3px 10px;
    cursor: pointer;
    margin:5px 0px;
    display: flex;
    align-items: center;
    font-size: 15px;
   
 }

 ul li:first-child:hover{
    background-color: white;
    box-shadow: 2px 2px 8px lightgray;
 }

 ul li:first-child:hover .hover1{
    display: block;
    position: absolute;
    
 }
 li:first-child img:nth-child(4){
    height:33px ;
    width:33px;
    margin-right: 15px;
 }

 li:first-child span:nth-child(3){
    padding:0px 39px 0px 8px;
 }

 li:first-child div{
    display:inline-block;
    height:8px;
    width: 18px;
    background-color: #FED7DA;
    margin-left: 15px;
    border-radius: 15px;
 }



 .hover2{
    height:35px ;
    width:35px;
    display:none;
 }

 ul li:nth-child(2){
 
   
    border-radius: 8px;
    padding:3px  10px 3px 10px;
    cursor: pointer;
    margin:5px 0px;
    display: flex;
    align-items: center;
    font-size: 15px;
 }

 ul li:nth-child(2):hover{
    background-color: white;
    box-shadow: 2px 2px 8px lightgray;
 }

 ul li:nth-child(2):hover .hover2{
    display: block;
    position: absolute;
    
 }
 li:nth-child(2) img:nth-child(4){
    height:33px ;
    width:33px;
    margin-right: 15px;
 }

 li:nth-child(2) span:nth-child(3){
    padding:0px 20px 0px 8px;
 }

 li:nth-child(2) div{
    display:inline-block;
    height:8px;
    width: 18px;
    background-color: #FD6534;
    margin-left: 15px;
    border-radius: 15px;
 }


 .hover3{
    height:35px ;
    width:35px;
    display:none;
 }

 ul li:nth-child(3){
 
   
    border-radius: 8px;
    padding:3px  10px 3px 10px;
    cursor: pointer;
    margin:5px 0px;
    display: flex;
    align-items: center;
    font-size: 15px;
 }

 ul li:nth-child(3):hover{
    background-color: white;
    box-shadow: 2px 2px 8px lightgray;
 }

 ul li:nth-child(3):hover .hover3{
    display: block;
    position: absolute;
    
 }
 li:nth-child(3) img:nth-child(4){
    height:33px ;
    width:33px;
    margin-right: 15px;
 }

 li:nth-child(3) span:nth-child(3){
    padding:0px 45px 0px 8px;
 }

 li:nth-child(3) div{
    display:inline-block;
    height:8px;
    width: 18px;
    background-color: #9ED095;
    margin-left: 15px;
    border-radius: 15px;
 }


 .hover4{
    height:35px ;
    width:35px;
    display:none;
 }

 ul li:nth-child(4){
 
   
    border-radius: 8px;
    padding:3px  10px 3px 10px;
    cursor: pointer;
    margin:5px 0px;
    display: flex;
    align-items: center;
    font-size: 15px;
 }

 ul li:nth-child(4):hover{
    background-color: white;
    box-shadow: 2px 2px 8px lightgray;
 }

 ul li:nth-child(4):hover .hover4{
    display: block;
    position: absolute;
    
 }
 li:nth-child(4) img:nth-child(4){
    height:33px ;
    width:33px;
    margin-right: 15px;
 }

 li:nth-child(4) span:nth-child(3){
    padding:0px 62px 0px 8px;
 }

 li:nth-child(4) div{
    display:inline-block;
    height:8px;
    width: 18px;
    background-color:#FFE4A0;
    margin-left: 15px;
    border-radius: 15px;
 }
 .right{
     margin-left: 40px;
 }
 .right img{
    height:420px;
    width:420px;
 }
 main{
    display: flex;
    align-items: center;
 }

